%section.p-top-bar
  .first-top-bar
    .container
  .second-top-bar
    .container
      %nav
        %a.logo-container
        .nav-links-container
          .dropdown
            %a.nav-link.dropdown-toggle
              What's new
          .dropdown
            %a.nav-link.dropdown-toggle
              Dresses
          .dropdown
            %a.nav-link.dropdown-toggle
              Designers
          .dropdown
            %a.nav-link.dropdown-toggle
              Accessories
          .dropdown
            %a.nav-link.dropdown-toggle
              Occasions
          .dropdown
            %a.nav-link.dropdown-toggle
              Fashion Pass
          .dropdown
            %a.nav-link.dropdown-toggle
              How it Works
  .mobile-top-bar.sb-slide